<div class="container col-md-12 col-lg-12 col-sm-12" ng-controller="listingCtrl">
    <form name="listingForm" ng-submit="submitListing()">
        <div class="page-header text-center">
            <h1>New Listing</h1>
        </div>
        <div class="row">
            <h3 class="col-md-12 col-lg-12 col-sm-12">Product Details</h3>
            <div class="col-md-6 col-lg-6 col-sm-6 form-group">
                <h4 class="col-form-label col-form-label-lg">Title:</h4>
                <input name="title" ng-model="currentListing.title" type="text" class="form-control" required>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6 form-group">
                <h4 class="col-form-label col-form-label-lg">Category:</h4>
                <input name="category" ng-model="currentListing.category" type="text" class="form-control" required>
            </div>
        </div>
        <div class="row" ng-show="formSectionIndex > 1">
            <div class="col-md-4 col-lg-4 col-sm-4 form-group">
                <h4 class="col-form-label col-form-label-lg">Product Condition:</h4>
            </div>
            <div class="col-md-8 col-lg-8 col-sm-8 form-group">
                <h4 class="col-form-label col-form-label-lg">Description:</h4>
                <textarea name="desc" ng-model="currentListing.desc" rows=8 class="form-control" required></textarea>
            </div>
        </div>
        <div class="row" ng-show="formSectionIndex > 1">
            <div class="col-md-12 col-lg-12 col-sm-12 form-group">
                <h4 class="col-form-label col-form-label-lg">Photos:</h4>
                <input class="btn btn-secondary" type="button" value="Add Photos">
            </div>
        </div>
        <div class="row" ng-show="formSectionIndex > 2">
            <h3 class="col-md-12 col-lg-12 col-sm-12">Selling Details</h3>
            <div class="col-md-2 col-lg-2 col-sm-2 form-group">
                <h4 class="col-form-label col-form-label-lg">Listing Type:</h4>
                <select name="listingType" class="form-control" ng-model="currentListing.listingType" ng-options="type for type in listingTypeList"></select>
            </div>
        </div>
        <div class="row" ng-show="formSectionIndex > 2">
            <div class="col-md-3 col-lg-3 col-sm-3 form-group">
                <h4 class="col-form-label col-form-label-lg">Duration:</h4>
                <select name="duration" class="form-control" ng-model="currentListing.duration" ng-options="duration for duration in listingDurationList"></select>
            </div>
        </div>
        <div class="row" ng-show="formSectionIndex > 2">
            <div class="col-md-9 col-lg-9 col-sm-9 form-group">
                <input type="radio" name="durationStart" value="immediate" checked> <span>Start my listings when I submit them</span><br>
                <input type="radio" name="durationStart" value="scheduled"> <span>Schedule to start on: </span>
            </div>
        </div>
        <div class="row" ng-show="formSectionIndex > 2">
            <div class="col-md-2 col-lg-2 col-sm-2 form-group">
                <h4 class="col-form-label col-form-label-lg">{{currentListing.listingType == "Auction-style" ? "Starting Price" : "Price"}}:</h4>
                <div class="input-group">
                    <div class="input-group-addon">$</div>
                    <input id="priceInput" name="price" ng-model="currentListing.price" type="number" step="0.01" ng-blur="formatPrice()" class="form-control" required>
                </div>
            </div>
        </div>
        <div class="row" ng-show="formSectionIndex > 3">
            <div class="col-md-6 col-lg-6 col-sm-6 form-group">
                <h4 class="col-form-label col-form-label-lg">Payment Methods:</h4>
                <div class="checkbox {{true ? 'disabled' : ''}}">
                    <label><input name="paymentMethod" ng-model="currentListing.paymentMethods.pm_payPal" type="checkbox" ng-checked="currentListing.paymentMethods.all || !listingForm.paymentMethod.$touched">
                        PayPal</label>
                </div>
                <div class="checkbox">
                    <label><input name="paymentMethod" ng-model="currentListing.paymentMethods.pm_visaMaster" type="checkbox" ng-checked="currentListing.paymentMethods.all">
                        Visa / MasterCard</label>
                </div>
                <div class="checkbox">
                    <label><input name="paymentMethod" ng-model="currentListing.paymentMethods.pm_discover" type="checkbox" ng-checked="currentListing.paymentMethods.all">
                        Discover</label>
                </div>
                <div class="checkbox">
                    <label><input name="paymentMethod" ng-model="currentListing.paymentMethods.pm_amerExpr" type="checkbox" ng-checked="currentListing.paymentMethods.all">
                        American Express</label>
                </div>
                <div class="checkbox">
                    <label><input name="paymentMethod" ng-model="currentListing.paymentMethods.pm_pickup" type="checkbox" ng-checked="currentListing.paymentMethods.all">
                        Receive payment upon pickup</label>
                </div>
                <div class="checkbox">
                    <label><input name="paymentMethod" ng-model="currentListing.paymentMethods.all" type="checkbox" ng-checked="allPaymentMenthodsChecked()">
                        Any of above</label>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6 form-group">
                <h4 class="col-form-label col-form-label-lg">Return Options:</h4>
                <div class="form-check">
                    <label class="form-check-label"><input type="radio" class="form-check-input" name="returnOptions" value="accepted">
                        Returns Accepted</label>
                </div>
                <div class="form-check">
                    <label class="form-check-label"><input type="radio" class="form-check-input" name="returnOptions" value="notAccepted" checked>
                        No returns accepted
                    <br><small class="form-text text-muted radio-small-text">The item could still be returned if it doesn't match the listing's description.</small>
                    </label>
                </div>
            </div>
        </div>
        <div class="row" ng-show="formSectionIndex > 4">
            <h3 class="col-md-12 col-lg-12 col-sm-12">Shipping Details</h3>
            <div class="col-md-4 col-lg-4 col-sm-4 form-group">
                <h4 class="col-form-label col-form-label-lg">Domestic Shipping:</h4>
                <select name="domesticShipping" class="form-control" ng-model="currentListing.domesticShipping" ng-options="type for type in domesticShippingList"></select>
            </div>
        </div>
        <div class="row" ng-show="formSectionIndex > 4">
            <div class="col-md-12 col-lg-12 col-sm-12 form-group">
                <h4 class="col-form-label col-form-label-lg">Item location:</h4>
                <span ng-show="!updateShippingInfo">{{currentListing.shippingLocationCityState}}, {{currentListing.shippingLocationZIP}}, {{currentListing.shippingLocationCountry}}</span>
                <div ng-show="updateShippingInfo" class="col-md-3 col-lg-3 col-sm-3" style="padding-left:0px;">
                    <h5>Country</h5>
                    <input name="shippingLocationCountry" ng-model="currentListing.shippingLocationCountry" type="text" class="form-control" required>
                </div>
                <div ng-show="updateShippingInfo" class="col-md-2 col-lg-2 col-sm-2" style="padding-left:0px;">
                    <h5>ZIP Code</h5>
                    <input name="shippingLocationZIP" ng-model="currentListing.shippingLocationZIP" type="text" class="form-control" required>
                </div>
                <div ng-show="updateShippingInfo" class="col-md-4 col-lg-4 col-sm-4" style="padding-left:0px;">
                    <h5>City, State</h5>
                    <input name="shippingLocationCityState" ng-model="currentListing.shippingLocationCityState" type="text" class="form-control" required>
                </div>
                <br ng-show="updateShippingInfo"><br ng-show="updateShippingInfo">
                <a href="" ng-click="changeShippingDetails()">{{updateShippingText}}</a>
            </div>
        </div>
        <div class="row" ng-show="formSectionIndex < 4">
            <ul class="pager">
                <li><a href="#" ng-click="nextSection()">Next</a></li>
            </ul>
        </div>
        <div class="row" ng-if="formSectionIndex >= 4">
            <div class="col-md-12 col-lg-12 col-sm-12 form-group text-center">
                <input ng-disabled="false" class="btn btn-primary" type="submit" value="Submit Listing">
            </div>
        </div>
    </form>
</div>