<div>
    <div ng-include="'html/welcome/welcomePage.html'" ng-if="currentPageDisplayed == applicationPages.WELCOME"></div>
    <div ng-include="'html/listing/statusPageSuccess.html'" ng-if="currentPageDisplayed == applicationPages.SUCCESS"></div>
    <div ng-include="'html/listing/statusPageLoading.html'" ng-if="currentPageDisplayed == applicationPages.LOADING"></div>
    <div ng-include="'html/listing/statusPageFailed.html'" ng-if="currentPageDisplayed == applicationPages.FAILED"></div>
    <div ng-include="'html/listing/listing.html'" ng-if="currentPageDisplayed == applicationPages.LISTING"></div>
</div>