html {
    height: 100%;
}
body {
    height: 100%;
    background-color: white;
}
.max-height {
    height:100%;
}

.listing-input-md {
    width: 70%;
}

.radio-small-text {
    padding-left:15px;
}

/********************************************
 * Login
 ********************************************/
.login-failed{
    margin-top:0;
    color: #e84b3a;
}

/********************************************
 * Listing page styles
 ********************************************/

/* All pages */
.listing-status-block {
    /*line-height: 45px;*/
    vertical-align: middle;
    font-family: "Lucida Sans Unicode";
}

/* Success page */
.jumbotron.jumbotron-listing-success {
    width: 100%;
    height: 100%;
    background: #669e43;
}
.listing-success-link a:link{
    color: #ffffff;
}
.listing-success-link a:hover{
    color: #edf060;
}

/* Loading page */
.jumbotron.jumbotron-listing-loading {
    width: 100%;
    height: 100%;
    background: #edf060;
}

/* Failed page */
.jumbotron.jumbotron-listing-failed {
    width: 100%;
    height: 100%;
    background: #e84b3a;
}
.listing-failed-link a:link{
    color: #ffffff;
}
.listing-failed-link a:hover{
    color: #edf060;
}

/********************************************
 * Listing page styles
 ********************************************/

.welcome-block {
    vertical-align: middle;
    font-family: "Lucida Sans Unicode";
}

/* Welcome page */
.jumbotron.jumbotron-welcome {
    width: 100%;
    height: 100%;
    background: #08b1e0;
    color: #444444;
    padding-bottom:0;
    margin-bottom:0;
}
.welcome-title {
    margin-top:0;
}

.btn-welcome-page {
    background: #f0803c;
    color: #ffffff;
    margin-bottom:10px;
}