<div class="jumbotron jumbotron-welcome text-center">
    <div class="welcome-block">
        <h1 class="welcome-title"><b>Welcome to</b></h1>
        <img src="img/logos/ApplicationLogo_Transparent_Large.png" alt="eBay Easy Listing!">
        <br><br>
        <h2>Ready to get started?</h2>
        <br>
        <input ng-if="userLoggedIn" type="button" ng-click="startNewListing()" class="btn btn-lg btn-welcome-page" value="Start New Listing">
        <input ng-if="!userLoggedIn" type="button" ng-click="" class="btn btn-lg btn-welcome-page" value="Log In">
        <br>
    </div>
</div>